# Cache and logs
/var/
/vendor/

# Composer
/composer.lock

# PHPUnit
/.phpunit.result.cache
/phpunit.xml

# IDE files
/.idea/
/.vscode/

# Environment variables
/.env.local
/.env.*.local

# System files
.DS_Store
Thumbs.db